@{
    ViewBag.Title = "About";
}
<h2>Who We Are.</h2>
<h3>
    Kalamazoo Wines is dedicated to providing only the best wine in the business. With 20 years of experience,
    Kalamazoo Wines has what it takes to bring you an experience like no other.</h3>

<p>
    This application consists of four main web-pages; Home, About, Contact, and Beverages. Of these, Beverages is the page that performs the primary tasks.
    This project's goal is to produce a web-application that is capable of interacting with a database using entity framework and ASP.net MVC.
    This website should restrict users from accessing the beverages page unless they're logged in. Once on the beverages page, a user is able to
    perform the steps of CRUD (create, read, update, and delete) upon the beverages database.
    Users are also capable of filtering results to find desired items and anything similar.
</p>
