@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us.</h2>

<hr />

<address>
    5000 Westnedge Avenue<br />
    Kalamazoo, MI 49009<br />
    <abbr title="Phone">P:</abbr>
    269.123.1234
</address>

<br />

Email us today:
<address>
    <strong>Support:</strong>   <a href="#">Support@kzoowines.com</a><br />
</address>